parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$from_node_key\.$#'
			identifier: property.notFound
			count: 2
			path: src/Engine/FlowValidator.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$node_key\.$#'
			identifier: property.notFound
			count: 1
			path: src/Engine/FlowValidator.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$to_node_key\.$#'
			identifier: property.notFound
			count: 2
			path: src/Engine/FlowValidator.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$type\.$#'
			identifier: property.notFound
			count: 2
			path: src/Engine/FlowValidator.php

		-
			message: '#^Parameter \#1 \$node of method Goldnead\\StatamicAutomations\\Engine\\FlowValidator\:\:validateConfig\(\) expects Goldnead\\StatamicAutomations\\Models\\AutomationNode, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Engine/FlowValidator.php

		-
			message: '#^Parameter \#1 \$node of method Goldnead\\StatamicAutomations\\Engine\\FlowValidator\:\:validateOutputs\(\) expects Goldnead\\StatamicAutomations\\Models\\AutomationNode, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Engine/FlowValidator.php

		-
			message: '#^Parameter \#2 \$edges of method Goldnead\\StatamicAutomations\\Engine\\FlowValidator\:\:hasCycle\(\) expects array\<int, Goldnead\\StatamicAutomations\\Models\\AutomationEdge\>, array\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Engine/FlowValidator.php

		-
			message: '#^Parameter &\$visited by\-ref type of method Goldnead\\StatamicAutomations\\Engine\\WorkflowRunner\:\:runFrom\(\) expects array\<string, bool\>, array given\.$#'
			identifier: parameterByRef.type
			count: 2
			path: src/Engine/WorkflowRunner.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationAuditLog\:\:\$action\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationAuditLog\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationAuditLog\:\:\$meta\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationAuditLog\:\:\$user_label\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$handle\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AuditController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Goldnead\\StatamicAutomations\\Models\\AutomationAuditLog\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\Automation\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$duration_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$error_message\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$input\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$node_key\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$node_type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$output\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Parameter \#1 \$node of method Goldnead\\StatamicAutomations\\Engine\\NodeExecutor\:\:execute\(\) expects Goldnead\\StatamicAutomations\\Models\\AutomationNode, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/AutomationsController.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/EmailTemplatePreviewController.php

		-
			message: '#^Call to static method resolve\(\) on an unknown class Goldnead\\EmailTemplates\\Facades\\EmailTemplates\.$#'
			identifier: class.notFound
			count: 1
			path: src/Http/Controllers/EmailTemplatePreviewController.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationAuditLog\:\:\$action\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/AuditPageController.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationAuditLog\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/AuditPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/AuditPageController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Goldnead\\StatamicAutomations\\Models\\AutomationAuditLog\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Http/Controllers/Pages/AuditPageController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Pages/AuditPageController.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\Automation\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/Pages/AutomationsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$duration_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$error_message\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$finished_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$input\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$node_key\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$node_type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$output\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$started_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Http/Controllers/Pages/RunsPageController.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$created_by\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$edges\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$enabled\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$handle\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$last_run_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$nodes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$uuid\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationResource\:\:\$version\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$automation\.$#'
			identifier: property.notFound
			count: 3
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$automation_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$automation_uuid\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$context\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$duration_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$error_message\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$finished_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$is_test\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$nodeRuns\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$started_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$trigger_node_key\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$trigger_type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Http\\Resources\\AutomationRunResource\:\:\$uuid\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Resources/AutomationRunResource.php

		-
			message: '#^Offset ''sendable'' does not exist on array\{handle\: string, status\: string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Integrations/Marketing/Actions/SendCampaignAction.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationScheduledJob\:\:\$automation_run_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/ResumeDelayedRun.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationScheduledJob\:\:\$node_key\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/ResumeDelayedRun.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationScheduledJob\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/ResumeDelayedRun.php

		-
			message: '#^Offset class\-string&literal\-string on array\{Goldnead\\Leadhub\\Events\\LeadHubContactCreated\: ''leadhub\.lead_created'', Goldnead\\Leadhub\\Events\\LeadHubStatusChanged\: ''leadhub\.lead_status…'', Goldnead\\Leadhub\\Events\\LeadHubTagAdded\: ''leadhub\.lead_tag…'', Goldnead\\Leadhub\\Events\\LeadHubNoteAdded\: ''leadhub\.lead_note…'', Goldnead\\Leadhub\\Events\\LeadHubFollowupDue\: ''leadhub\.lead_follow…''\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Listeners/HandleLeadHubEvent.php

		-
			message: '#^Strict comparison using \=\=\= between null and null will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Listeners/HandleLeadHubEvent.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Listeners/HandleLeadHubEvent.php

		-
			message: '#^Offset class\-string&literal\-string on array\{Goldnead\\Marketing\\Events\\MarketingSubscribed\: ''marketing\.subscribed'', Goldnead\\Marketing\\Events\\MarketingUnsubscribed\: ''marketing…'', Goldnead\\Marketing\\Events\\CampaignSent\: ''marketing\.campaign…''\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Listeners/HandleMarketingEvent.php

		-
			message: '#^Strict comparison using \=\=\= between null and null will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Listeners/HandleMarketingEvent.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Listeners/HandleMarketingEvent.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Models/Automation.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationScheduledJob\:\:\$uuid\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/AutomationScheduledJob.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Auth\\User\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/AddUserToGroupAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Auth\\User\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/AddUserToGroupAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Auth\\User\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/AssignUserRoleAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Auth\\User\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/AssignUserRoleAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:collection\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/CreateEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Taxonomies\\Term\:\:taxonomy\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/CreateTermAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:delete\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/DeleteEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/PublishEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:published\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/PublishEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/PublishEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/PublishEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/SendEmailAction.php

		-
			message: '#^Call to static method resolve\(\) on an unknown class Goldnead\\EmailTemplates\\Facades\\EmailTemplates\.$#'
			identifier: class.notFound
			count: 1
			path: src/Nodes/Actions/SendEmailAction.php

		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-string and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Nodes/Actions/SendEmailAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UnpublishEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:published\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UnpublishEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UnpublishEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UnpublishEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UpdateEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:published\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Nodes/Actions/UpdateEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UpdateEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UpdateEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\Entry\:\:slug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UpdateEntryAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Auth\\User\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UpdateUserAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Auth\\User\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UpdateUserAction.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Auth\\User\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Nodes/Actions/UpdateUserAction.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\Automation\:\:\$created_by\.$#'
			identifier: property.notFound
			count: 1
			path: src/Repositories/FlatFileAutomationRepository.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\Automation\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Repositories/FlatFileAutomationRepository.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationEdge\:\:\$automation_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Repositories/FlatFileAutomationRepository.php

		-
			message: '#^Access to an undefined property Goldnead\\StatamicAutomations\\Models\\AutomationNode\:\:\$automation_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Repositories/FlatFileAutomationRepository.php

		-
			message: '#^PHPDoc type array\<string, mixed\> of property Goldnead\\StatamicAutomations\\ServiceProvider\:\:\$vite is not covariant with PHPDoc type list\<string\> of overridden property Statamic\\Providers\\AddonServiceProvider\:\:\$vite\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/ServiceProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Support/AuditLogger.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Support/AuditLogger.php

		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Support/AuditLogger.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Support/AuditLogger.php

		-
			message: '#^Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Support/OptionSources/NativeOptionSources.php

		-
			message: '#^Cannot call method id\(\) on class\-string\|object\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Support/OptionSources/NativeOptionSources.php

		-
			message: '#^Cannot call method slug\(\) on class\-string\|object\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Support/OptionSources/NativeOptionSources.php
